body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #ed7d31;
    color: #fff;
    text-align: center;
    padding: 1% 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1%;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 3%;
    margin-bottom: 20%;
    text-align: justify;
    position: relative;
    left: 4%;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
    background-color: #fb9e60;
    margin-right: 9%;
    border-radius: 10px;
}

p {
    margin-right: 9%;
    text-align: justify;
    font-size: 150%;
    position: relative;
    top: 1%;
    margin-bottom: 3%;
}

.El-Panda-Rojo {
    font-size: 5%;
    text-align: left;
    margin-left: 70%;
    color: rgb(0, 0, 0);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1%;
    max-width: 100%;
    margin: 0 auto;
}


.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.habitat {
    width: 40%;
    height: auto;
    float: right;
    margin-left: 11%;
    position:relative;
    right: 9%;
    margin-top: -1%;
    border-radius: 10px;
}
.comida {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 5%;
    border-radius: 10px;
}

.apariencia {
    width: 40%;
    height: auto;
    float: right;
    margin-left: 10%;
    position:relative;
    right: 9%;
    margin-top: -1%;
    border-radius: 10px;
}

.tabla1 {
    position: relative;
    left: 0%;
    font-size: 20px;
    margin-right: 100%;
    width: 91%;
    border-collapse:collapse;
    border-radius: 10px;
}

.tabla1 th, .tabla1 td {
    border: 1px solid #000000;
    padding: 8px;
}

.tabla1 th {
    background-color: rgb(237, 127, 80);
    color: rgb(0, 0, 0);
}

.tabla1 tr:hover {
    background-color: #ddd;
}

.copyright {
    text-align: center;
}